node_modules/
.vscode
.DS_Store
.husky
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
uni_modules
.vite/
lib/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.d.ts
package.json
package-lock.json
yarn.lock
pnpm-lock.yaml
